<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viaviweb.recipebox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.viaviweb.recipebox.ActivityMain"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.viaviweb.recipebox.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.viaviweb.recipebox.PrivacyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.viaviweb.recipebox.ActivityDetail"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.viaviweb.recipebox.ForgotPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.viaviweb.recipebox.ProfileEditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.viaviweb.recipebox.SignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.viaviweb.recipebox.SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan"/>
        <!-- youtube play activity -->
        <activity
            android:name="com.example.youtube.YoutubePlay"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />


        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="FFfa4b51" />
        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="false" />

    </application>

</manifest>